body{
	margin: 0;
	padding: 0;
	background: url(background.jpg) no-repeat;
	background-size:100% 100%;
}


.resume{
	width: 730px;
	background:(0,0,0,0);
	padding: 40px;
	margin: auto;
	margin-top:5%;
	color:white;
	font-family:'Helvetica',sans-serif;
    border-radius: 8px;
    
}